.primary-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;

  .website_name {
    font-family: 'Kalnia';
    font-size: 25px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .mainNavDiv {
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .NavLink {
      color: black;
      text-decoration: none;

      p {
        color: black;
        text-decoration: none;
      }

      .sectionDashboardName {
        display: flex;
        align-items: center;
        border-radius: 10px;
        font-size: 20px;
      }

    }
  }
}